<!-- dashboard_empresa.ejs -->

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/dashboard.css">
    <title>Dashboard Cliente</title>
</head>

<body>
    <header>
        <a><img src="img/logo.png" alt="logo"></a>
        <span id="hamb"><i class="fa-solid fa-bars"></i></span>
        <nav>
            <ul>
                <li><a id="logout">Logout</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <h1>Bem-vindo, <%= user.nome %>!</h1>
        <p>Você está logado como cliente.</p>
        <section>
            <div id="empresa-section">
                <h1>Empresas</h1>
            </div>
        </section>
    </main>
    <script>
        // No seu script JS dentro do HTML/EJS
        window.addEventListener('DOMContentLoaded', async () => {
            try {
                const response = await fetch('https://backend-express-ten.vercel.app/');
                const agendamentos = await response.json();

                // Agora você tem os dados dos agendamentos, faça o que precisar com eles
                console.log(agendamentos);

                // Exemplo: Adicione os agendamentos à sua seção no HTML
                const empresasSection = document.getElementById('empresa-section');
                const agendamentosDiv = document.createElement('div');

                agendamentos.forEach((agendamento) => {
                    const container = document.createElement('div')
                    const nomeDiv = document.createElement('p')
                    const horaDiv = document.createElement('p')
                    const dataDiv = document.createElement('p')
                    nomeDiv.textContent = "Nome: "+agendamento.nome
                    horaDiv.textContent = "Hora: "+agendamento.hora
                    dataDiv.textContent = `Data: ${agendamento.dia}/${agendamento.mes}`
                    container.appendChild(nomeDiv)
                    container.appendChild(horaDiv)
                    container.appendChild(dataDiv)
                    agendamentosDiv.append(container)
                });

                empresasSection.appendChild(agendamentosDiv);
            } catch (error) {
                console.error('Erro na requisição:', error);
            }
        });

    </script>
    <script src="js/logout.js"></script>
    <script src="js/responsivo.js"></script>
</body>

</html>