<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/dashboard.css">
    <title>Dashboard Cliente</title>
</head>

<body>
    <header>
        <a><img src="img/logo.png" alt="logo"></a>
        <span id="hamb"><i class="fa-solid fa-bars"></i></span>
        <nav>
            <ul>
                <li><a id="logout">Logout</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <h1>Bem-vindo, <%= user.nome %>!</h1>
        <p>Você está logado como cliente.</p>
        <section class="agendamentos" id="empresa-section">
        </section>
    </main>
    <script>
        // No seu script JS dentro do HTML/EJS
        window.addEventListener('DOMContentLoaded', async () => {
            try {
                const response = await fetch('/agendamentos');
                const agendamentos = await response.json();

                const empresasSection = document.getElementById('empresa-section');

                agendamentos.forEach((agendamento) => {
                    const container = document.createElement('div')
                    const nomeDiv = document.createElement('h2')
                    const horaDiv = document.createElement('p')
                    const dataDiv = document.createElement('p')
                    const nomeEmpresaDiv = document.createElement('p')
                    nomeDiv.textContent = "Nome: " + agendamento.nome
                    horaDiv.textContent = "Hora: " + agendamento.hora
                    nomeEmpresaDiv.textContent = "Empresa: " + agendamento.nome_empresa
                    dataDiv.textContent = `Data: ${agendamento.dia}/${agendamento.mes}`
                    container.appendChild(nomeEmpresaDiv)
                    container.appendChild(nomeDiv)
                    container.appendChild(horaDiv)
                    container.appendChild(dataDiv)
                    empresasSection.append(container)
                });

            } catch (error) {
                console.error('Erro na requisição:', error);
            }
        });

    </script>
    <script src="js/logout.js"></script>
    <script src="js/responsivo.js"></script>
</body>

</html>