<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/responsivo.css">
    <link rel="stylesheet" href="css/dashboard.css">
    <link rel="stylesheet" href="fontawesome-free-6.4.2-web/css/fontawesome.css">
    <title>Dashboard Empresa</title>
</head>

<body>
    <header>
        <a><img src="<%= user.imagemPerfil %>" alt="logo" id="perfil"></a>
        <span id="hamb"><i class="fa-solid fa-bars"></i></span>
        <nav>
            <ul>
                <li><a href="/agendamento" target="_self">Agendamento</a></li>
                <li><a id="logout">Logout</a></li>
            </ul>
        </nav>
    </header>

    <h1 data-id-empresa="<%= user.id_empresa %>">
        <%= user.empresa %>
    </h1>

    <div id="empresa-section">
        <h1>Bem-vindo, <%= user.nome %>!</h1>
        <p>Você está logado como empresa.</p>
        <!-- <form>
            <input type="file" id="imagem" accept="image/*" onchange="previewImage()">
            <img id="preview">
            <button type="button" onclick="enviarImagem()">enviar</button>
        </form> -->
        <form action="/dashboard">
            <input type="file" id="imagem" accept="image/*" onchange="previewImage()">
            <img id="preview">
            <button type="submit">enviar</button>
        </form>
        <script>
            // Função para mostrar a imagem antes
            function previewImage() {
                const imagemInput = document.getElementById('imagem');
                const previewImg = document.getElementById('preview');

                const imagemArquivo = imagemInput.files[0];

                if (imagemArquivo) {
                    const reader = new FileReader();

                    reader.onload = function (e) {
                        previewImg.src = e.target.result;
                    };

                    reader.readAsDataURL(imagemArquivo);
                } else {
                    previewImg.src = '';
                }
            }
            // Enviar a imagem
            function enviarImagem() {
                const imagemInput = document.getElementById('imagem');
                const imagemArquivo = imagemInput.files[0];

                if (imagemArquivo) {
                    const formData = new FormData();
                    formData.append('imagem', imagemArquivo);

                    fetch('http://localhost:3000/uploads', {
                        method: 'POST',
                        body: formData
                    })
                        .then(response => {
                            if (!response.ok) {
                                throw new Error(`Erro na requisição: ${response.status} ${response.statusText}`);
                            }
                            return response.json();
                        })
                        .then(data => {
                            console.log('Caminho da imagem:', data.imagePath);

                            // Adicione lógica para exibir a imagem no corpo do body
                            const perfil = document.getElementById('perfil');
                            perfil.src = data.imagePath;
                        })
                        .catch(error => {
                            console.error('Erro ao enviar a imagem:', error);
                            alert('Erro ao enviar a imagem. Por favor, tente novamente.');
                        });
                } else {
                    console.log('Nenhuma imagem selecionada.');
                }
            }

            // Enviar formulario
            const form = document.querySelector('form')
            form.addEventListener('submit', (e)=>{
                e.preventDefault()
                enviarImagem()
                form.submit()
            })
        </script>

        <script defer src="fontawesome-free-6.4.2-web/js/all.js"></script>
        <script src="js/logout.js"></script>
        <script src="js/responsivo.js"></script>
    </div>
</body>

</html>
